/*
* multi-line comment
*/
p{ line-height: 3em; }
h1, h2, h3, h4{
    color: #f4f4f4;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 0 0;
}
h1{ font-size: 2.0em; }
h2{ font-size: 1.5em; }
a{
	color: #f4f4f4;
	text-decoration: none;

}
	a:hover,
	a:active{ text-decoration: underline; }


body{
    font-family: "Avenir Next","HelveticaNeue-Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
/* you can put your code all in one line like above */
#page{ margin: 0px; 
	height:920px;
	}

/* or on different lines like below */
#logo{
	margin-top: 10px;
	display: inline-block;
	float:right;
	height: 75%;
}
#logoLink{
	margin-right: 30px;
	color:#3CC47C;
	float:right;
	font-weight: 200;
	font-size:100%;
}
/* but try and be as concise as possible */

#banner{
	position: relative;
	top:0%;
	left:0px;
	width: 100%;
	margin: 0px 0;
	background: #262228;
	height: 50px;

}
#content{ 
	position: absolute;
	top:5%;
	left:0px;
	width: 100%;
	margin: 0px 0;
	background: white;
	padding: 0px;
	height:90%;
}
#footer{
	top:95%;
	left:0px;
	position: absolute;
	border-bottom: 0px #ccc solid;
	height:5%;
	width:100%;
	background-color: #262228;
}
	#footer p{
		width: 100%;
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: #828081;
	}

/* multiple styles seperated by a , */
#content,
ul li a{ box-shadow: 0px 0px 0px #999; }

#NW { 
	top:0%;   
	left:0px; 
	position:fixed; 
	width:50%; 
	height:50%;
	color:white;
    position:absolute;
    text-align:center;
}
#NE { 
	top:0%;   
	left:50%; 
	position:fixed; 
	width:50%; 
	height:50%; 
	color:white;
    position:absolute;
    text-align:center;
    
}
#SW { 
	top:50%; 
	left:0px;   
	position:fixed; 
	width:50%; 
	height:50%;
	color:white;
    position:absolute;
    text-align:center;
    
}
#SE { 
	top:50%; 
	left:50%; 
	position:fixed; 
	width:50%; 
	height:50%;
	color:white;
    position:absolute;
    text-align:center;
    align-items: center;
}
.boxes{
	background: white;
}
.tlt {
	height:50%;
	width:100%;
	display: inline-block;
  	line-height: normal;  
  	color:#3CC47C;
    font-size:4.5em;
    line-height: 200%;
    font-weight: bolder;
    text-transform: uppercase;
}

.boxes:hover{
	background: #262228;
}

img {
	margin-top: 2px;
	width:45px;
	height:45px;
}

#links{
	padding-left: 10px;
	float: left;
}

.column {
	top:50%;
	left:0;
	align-items: center;
	width:100%;
	height:50%;
	display: inline-block; 
  	color:#3CC47C;
    font-weight: bolder;
    text-transform: uppercase;
    bottom: 0;
    position:absolute;
}

.boxes .column div {
	position: relative;
	display: inline-block;
	width: 175px;
	height: 175px;
	margin: 0 0 0 5px;
	padding: 0;
}

figure {
	width: 175px;
	height: 175px;
	margin: 0;
	padding: 0;
	background: background: #1abc9c;
	overflow: hidden;
}
figure img {
	width:175px;
	height:175px;
}
figure:hover+span {
	bottom: 0px;
	opacity: 1;
}


/* Zoom In #2 */
.hover02 figure img {
	margin-top:0px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

